@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Raleway", sans-serif;
  background-color: whitesmoke;
}

h1 {
  text-align: center;
  margin-bottom: 0;
}

.icon {
  background: black;
  border-style: double;
  border: 2.5px solid white;
  border-radius: 17.5%;
}

#connect {
  font-size: 1.5em;
  color: white;
}

#four {
  font-size: 3em;
  color: red;
}

.dropButtons {
  display: flex;
  justify-content: center;

  input {
    background: white;
    margin-left: 7px;
    margin-right: 7px;
    height: 60px;
    width: 60px;
    border: 7.5px solid blue;
    border-radius: 50%;
    font-size: 1em;
    font-weight: bold;
  }
}

.connect-four {
  width: 550px;
  background: blue;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 1em 0;
}

.square {
  background: white;
  height: 60px;
  width: 60px;
  border: 7.5px solid blue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-weight: bold;
}

.square:hover {
  background: lightblue;
}

.square:active {
  background-color: rebeccapurple;
}

#wrapper {
  min-height: 90%;
  margin-bottom: -50px;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

button {
  padding: 5px;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 1em;
  display: block;
  margin: 10px auto 5px;
  color: white;
  background: red;
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: plum;
  font-size: 1em;
}
a:hover {
  background-color: blanchedalmond;
  opacity: 0.5;
}

.modal {
  width: 550px;
  display: none;
  text-align: center;
  margin: auto;
}

.modal-content {
  background-color: black;
  margin: auto;
  padding: 0;
  border: none;
}

.close {
  color: white;
  float: right;
  font-size: 25px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

p {
  font-size: 225%;
  width: auto;
  margin-top: 10px;
}
